body {
    background-color: #f5a91b;
}

h1 {
    font-family: DejaVu Serif;
    text-align: center;
    color: white;
    background-color: #0000aa;
}

a {
    color: white;
    font-weight: bold
}

.recipes {
    font-family: DejaVu Serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

img {
    height: auto;
    width: 300px;
    }

.image {
    text-align: center;
}