body {
    background-color: #f5a91b;
}

h1 {
    font-family: DejaVu Serif;
    text-align: center;
    color: white;
    background-color: #0000aa;
}

h2,
.lh2 {
    font-family: Black Han Sans;
    font-size: 25px;
    font-weight: 100;
}

a {
    color: white;
    font-weight: bold
}

.recipes {
    font-family: DejaVu Serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

img {
    height: auto;
    width: 300px;
    }

.image {
    text-align: center;
}

.body2 {
    margin-left: 100px;
    margin-right: 100px;
}